
.phui-theme-blindigo a {
    color: #94b8eb;
}
.phui-theme-blindigo .phui-status-item-highlighted td {
    background-color: #206;
}
.phui-theme-blindigo select {
    background-image: linear-gradient(45deg, transparent 50%, skyblue 50%), linear-gradient(135deg, skyblue 50%, transparent 50%);
    background-position: calc(100% - 12px) 1em, calc(100% - 7px) 1em;
    background-size: 5px 5px, 5px 5px;
}

.phui-theme-blindigo .differential-revision-small {
    background: #365;
}
.phui-theme-blindigo .differential-revision-large {
    background: #835;
}

.phui-theme-blindigo .phui-oi-tail {
    background: transparent;
}

body.phui-theme-blindigo::-webkit-scrollbar {
    background: #2a425f;
    width: 6px;
}

body.phui-theme-blindigo::-webkit-scrollbar-thumb {
    background: #4a5f88;
}
body.phui-theme-blindigo::-webkit-scrollbar-track {
    background: #1c293b;
}
body.phui-theme-blindigo.phabricator-home #UQ0_3 {
    height: 85vh;
    overflow: auto;
    position: fixed;
}
body.phui-theme-blindigo.phabricator-home #UQ0_3::-webkit-scrollbar {
    background: #2a425f;
    width: 6px;
}
body.phui-theme-blindigo #UQ0_3::-webkit-scrollbar-thumb {
    background: #4a5f88;
}
body.phui-theme-blindigo.phabricator-home #UQ0_3::-webkit-scrollbar-track {
    background: #1c293b;
}
.phui-theme-blindigo .project-card-view.project-card-blue .phui-header-shell {
    background: transparent;
}

.phui-theme-blindigo .differential-diff td.comment {
    background: #333;
}

.phui-theme-blindigo .phui-timeline-older-transactions-are-hidden {
    background: #4a5f88;
    border: 1px solid #2d435f;
}
.phui-theme-blindigo .differential-loading {
    border-top: 1px solid #4a5f88;
    border-bottom: 1px solid #4a5f88;
    background-color: #2d435f;
}

.phui-theme-blindigo .differential-meta-notice {
    border-top: 1px solid #4a5f88;
    border-bottom: 1px solid #4a5f88;
    background-color: #2d435f;
}

.phui-theme-blindigo .differential-property-table td.oval {
    background-color: #622;
}

.phui-theme-blindigo .differential-property-table td.nval {
    background-color: #262;
}

.phui-theme-blindigo .remarkup-code .s,
.phui-theme-blindigo .remarkup-code .s1,
.phui-theme-blindigo .remarkup-code .s2,
.phui-theme-blindigo .remarkup-code .sb,
.phui-theme-blindigo .remarkup-code .sc,
.phui-theme-blindigo .remarkup-code .sx {
    color: #d68510;
}

.phui-theme-blindigo .remarkup-code .nf,
.phui-theme-blindigo .remarkup-code .nx {
    color: darkseagreen; /*#009012;*/
}
.phui-theme-blindigo .remarkup-code .nc,
.phui-theme-blindigo .remarkup-code .nt,
.phui-theme-blindigo .remarkup-code .vc {
    color: #00b05f;
}

.phui-theme-blindigo .remarkup-code .bp,
.phui-theme-blindigo .remarkup-code .cp,
.phui-theme-blindigo .remarkup-code .kp,
.phui-theme-blindigo .remarkup-code .kr,
.phui-theme-blindigo .remarkup-code .nb {
    color: #608a96;
}

.phui-theme-blindigo .remarkup-code .k,
.phui-theme-blindigo .remarkup-code .kd,
.phui-theme-blindigo .remarkup-code .kn,
.phui-theme-blindigo .remarkup-code .kt {
    color: #cc4000;
}
.phui-theme-blindigo .remarkup-code .nn {
    color: #04d;
}
.phui-theme-blindigo .remarkup-code .na {
    color: #759be3;
}
.phui-theme-blindigo .remarkup-code .kc,
.phui-theme-blindigo .remarkup-code .no {
    color: #779;
}
.phui-theme-blindigo .remarkup-code .il,
.phui-theme-blindigo .remarkup-code .m,
.phui-theme-blindigo .remarkup-code .mf,
.phui-theme-blindigo .remarkup-code .mh,
.phui-theme-blindigo .remarkup-code .mi,
.phui-theme-blindigo .remarkup-code .mo {
    color: #c01200;
}

.phui-theme-blindigo .differential-diff td.old {
    background: rgba(255, 0, 0, 0.25); /*rgba(251,175,175,.25);*/
}
.phui-theme-blindigo .differential-diff td.old span.bright,
.phui-theme-blindigo .differential-diff td.old-full,
.phui-theme-blindigo .prose-diff span.old {
    background: rgba(255, 0, 0, 0.25); /*rgba(251,175,175,.3);*/
}
.phui-theme-blindigo .differential-diff td.new {
    background: rgba(0, 255, 0, 0.15); /*rgba(151,234,151,.25);*/
}
.phui-theme-blindigo .differential-diff td.new span.bright,
.phui-theme-blindigo .differential-diff td.new-full,
.phui-theme-blindigo .prose-diff span.new {
    background: rgba(0, 255, 0, 0.15); /*rgba(151,234,151,.25);*/
}
.phui-theme-blindigo .differential-diff td.new-rebase {
    background: rgba(0, 150, 150, 0.25); /*rgba(151,234,151,.25);*/
}
.phui-theme-blindigo .differential-diff td.old-rebase {
    background: rgba(150, 0, 150, 0.25); /*rgba(151,234,151,.25);*/
}

/* just because I hate these */
.jx-hovercard-container {
    display: none !important;
}
