
/***** Jira logo *****/
/* Make the logo just say "Jira" instead of "Jira Software" */
#logo > a {
    display: inline-block;
    width: 50px;
    overflow: hidden;
}
.aui-header-logo-text {
    display: none;
}

/***** Backlog Items *****/
/* Change the background color of a story/task when complete */ 
#ghx-backlog .ghx-issues .ghx-issue-compact.ghx-done,
#ghx-backlog .ghx-issues .ghx-issue-compact.ghx-done .ghx-end{
    background-color: #cfc !important;
}
#ghx-backlog .ghx-issues .ghx-issue-compact.ghx-done:hover,
#ghx-backlog .ghx-issues .ghx-issue-compact.ghx-done:hover .ghx-end{
    background-color: #9f9 !important;
}
#ghx-backlog .ghx-issues .ghx-issue-compact.ghx-done.ghx-selected,
#ghx-backlog .ghx-issues .ghx-issue-compact.ghx-done.ghx-selected .ghx-end{
    background-color: #afa !important;
}
#ghx-backlog .ghx-issues .ghx-issue-compact.ghx-done.ghx-selected:hover,
#ghx-backlog .ghx-issues .ghx-issue-compact.ghx-done.ghx-selected:hover .ghx-end{
    background-color: #7f7 !important;
}

/* Make the Epic labels smaller so we can read more of the issue titles */
/* .ghx-end.ghx-items-container .ghx-label{
    max-width: 100px;
} */

/***** Details Sidebar *****/
/* --Sprint view only-- make the details section a bit wider */
#ghx-work #ghx-detail-view {
	width: 35%!important;
}

/***** Swimlanes ******/
/* make the simlane headers smaller */
.ghx-swimlane-header .ghx-heading {
	margin: 0 !important;
}

.ghx-column-headers .ghx-column {
    padding: 0 9px !important;
}
.ghx-controls-plan, .ghx-header-compact .ghx-controls-report, .ghx-controls-work {
    min-height: 30px !important;
}
.ghx-quick-content.aui-expander-content {
    margin-bottom: 0 !important;
}
.ghx-swimlane-header .ghx-expander .ghx-iconfont {
	margin: 0!important;
}


/* Make the status be a little colored circle instead */
#ghx-pool .ghx-info .jira-issue-status-lozenge {
    width: 10px !important;
    max-width: 10px !important;
    height: 10px !important;
    border-radius: 10px !important;
    overflow: hidden;
    margin-right: 0.5em;
    text-overflow: initial;
    padding: 0 !important;
}
#ghx-pool .jira-issue-status-lozenge-green {
    background-color: #14892c !important;
}
#ghx-pool .jira-issue-status-lozenge-yellow {
    background-color: #f90 !important;
    color: #f90 !important;
}
#ghx-pool .jira-issue-status-lozenge-blue-gray {
    background-color: #bdf !important;
    color: #bdf !important;
}

/* Set the background color for complete swimlanes */
#ghx-pool .ghx-swimlane-header.ghx-done {
    background-color: #cfc !important;
}
#ghx-pool .ghx-swimlane-header.ghx-done.ghx-selected {
    background-color: #afa !important;
}
.ghx-swimlane-header:after,
.ghx-swimlane-header.ghx-selected:after {
 	display: none;   
}

/* flagged swimlanes background color */
#ghx-pool .ghx-swimlane-header.ghx-flagged {
    background-color: #FFF0B3 !important;
}
#ghx-pool .ghx-swimlane-header.ghx-flagged.ghx-selected {
    background-color: #FFE380 !important;
}

/* flagged swimlanes flag icon instead of "lozenge" */
#ghx-pool .ghx-swimlane-header.ghx-flagged .ghx-summary .aui-lozenge {
    background: url(https://espial.atlassian.net/images/icons/emoticons/flag.png);
    color: transparent;
    display: inline-block;
    overflow: hidden;
    width: 16px;
    height: 16px;
    border: none;
}

/* resize move to done button */
body:not(.adg3) .ghx-swimlane-header .ghx-bandaid button {
    margin-top: 1px;
    padding: 0 5px;
    height: 1.4em;
}
body:not(.adg3) .ghx-column-headers .ghx-column {
    border-bottom: 0;
}
.ghx-swimlane-header {
    margin-right: 0;
    top: 20px !important;
    background-color: #ffc0ff80 !important;
}

/***** Sprint view cards *****/
/* Move the icons to the right side of a task instead of an extra row at the bottom */
.ghx-issue {
    display: flex !important;
    min-height: 29px;
    margin: 2px !important;
    padding: 2px !important;
}
.ghx-issue-subtask {
    margin-bottom: 0;
}
.ghx-subtask-group {
    background: #999;
}
.ghx-summary {
    min-width: 50%;
    max-width: 90%;
    flex: 6;
}
.ghx-issue .ghx-stat-fields{
	display: flex;
}
.ghx-narrow-card .ghx-issue .ghx-stat-fields > .ghx-row {
	width: auto !important;
}
.ghx-issue-fields .ghx-key {
    display: block !important;
}
.ghx-issue .ghx-key-link .ghx-key-link-project-key,
.ghx-issue .ghx-key-link .ghx-key-link-issue-num {
    flex: unset !important;
}
.ghx-issue .ghx-stat-fields * {
	display: inline-block!important;
}
.ghx-issue .ghx-stat-fields .ghx-row.ghx-stat-2 > .ghx-field {
	display: none!important;
}
.ghx-issue .ghx-card-footer {
    margin-top: 0 !important;
}
.ghx-parent-group {
	margin: 0;
}
.ghx-issue .ghx-stat-fields > .ghx-row.ghx-stat-1 {
	margin: 0;
}
.ghx-issue .ghx-end,
.ghx-issue .ghx-type,
.ghx-issue .ghx-highlighted-fields {
    display: none;
}
.ghx-issue .ghx-issue-content {
    padding: 2px 5px !important;
    min-height: 0 !important;
    width: 90%;
}
.ghx-has-corner .ghx-issue-fields, .ghx-has-avatar .ghx-issue-fields {
    padding-right: 0 !important;
}
.ghx-issue .ghx-avatar {
    top: 0 !important;
    right: 0 !important;
}
.ghx-issue .ghx-avatar img {
    max-width: 24px;
    max-height: 24px;
    min-width: unset;
    min-height: unset;
}
/* only show assignee and story points icons */
.ghx-subtask-group .ghx-field.ghx-field-icon{
	display:none!important;
}
.ghx-highlighted-field,
/* .ghx-grabber, */
.ghx-move-count,
.ghx-extra-fields {
    display:none;
}
.ghx-stat-fields > .ghx-stat-1 > span[data-tooltip],
.ghx-stat-fields > .ghx-stat-1 > span > div {
    display: none !important;
}
.ghx-issue .ghx-flags {
    position: absolute !important;
    top: 28px !important;
    right: 0px !important;
    left: initial !important;
}


/***** Headers *****/

/* Compact headers 1: Quick filters on 2nd row */
#ghx-header {
    min-height: 48px;
    margin-bottom: 0;
    padding-bottom: 0 !important;
}
#ghx-header #breadcrumbs-container {
    float: left;
    margin-top: 16px;
}
#ghx-header .ghx-top-header {
    margin-top: 0.5em;
}

span.subnav-page-header,
span.subnav-container {
    display: initial !important;
}
.subnavigator-title {
    float: none;
}
#ghx-board-name {
    position: absolute;
    top: 5px;
    left: 5px;
}
#ghx-sprint-goal {
    position: absolute;
    top: -7px;
    left: 190px;
}


/* Compact headers 2: Quick filters beside actions (not good with lots of filters) */
/* #ghx-operations {
    position: absolute;
    top: -40px;
    right: 175px;
}
#ghx-header {
    min-height: 30px;
    padding: 0 !important;
    box-sizing: content-box;
}
#ghx-header #breadcrumbs-container {
    float: left;
    margin-top: 16px;
}
#ghx-header .ghx-top-header {
    margin-top: 0.5em;
}
.ghx-sprint-goal {
    display:none !important;
}
.ghx-sprint-meta .time {
    display: none !important;
}
.ghx-mode-planning #ghx-operations {
    right: 40px;
    top: -40px;
}

.hMGPhr {
    height: 134px;
}

[aria-label=Notifications] {
    display: none;
} */
